<table summary="Page form fields">
  <tr>
    <th>Title</th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>ISBN</th>
    <td><%= f.text_field(:isbn) %></td>
  </tr>
  <tr>
    <th>Author</th>
    <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td><%= f.text_field(:quantity) %></td>
  </tr>
  <tr>
    <th>Condition</th>
    <td><%= f.text_field(:condition) %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= f.text_field(:price) %></td>
  </tr>
  <tr>
    <th>Year_Published</th>
    <td><%= f.text_field(:published) %></td>
  </tr>
</table>