<h1>Book#new</h1>
<p>Find me in app/views/book/new.html.erb</p>
<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books new">
  <h2>Create book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>ISBN</th>
        <td><%= f.text_field(:isbn) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><%= f.text_field(:quantity) %></td>
      </tr>
      <tr>
        <th>Condition</th>
        <td><%= f.text_field(:condition) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Year Published</th>
        <td><%= f.text_field(:year_published) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create book") %>
    </div>

  <% end %>
</div>